<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="TeleBotClientKey" value="1082949908:AAEELrgwp1mr321W69e5AgUEbuykXvIlDw4"/>
  </appSettings>
</configuration>
